.tx-app header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.tx-app header ul {
  margin: 0;
  padding: 0;
}

.tx-app header ul li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
}

.tx-app .tx-content {
  padding: 60px 20px 40px 20px;
}

.tx-form label {
  display: block;
  margin-top: 20px;
}

.tx-form [type='submit'] {
  margin-top: 20px;
}

.tx-page .tx-msg {
  margin-top: 30px;
}
